# Sadece gerekli dosyalar hariç tutulacak
!BGs/
!BG-Ek/
!Music/
!assets/css/
!assets/js/
!Index.HTML
!BetaHikayeYapisi/
!README.md

# Geri kalan her şeyi ignore et
TheEquals_Game_v3.1_Current_Backup/
TheEquals_Game_v2.4_Final_Backup/
*.bat
*.md
*.txt
*.png
*.jpg
*.jpeg
*.gif 